<!DOCTYPE html>
<html ng-app="MenuCategoriesApp">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <title>Coursera Angular HTTP Service</title>
  </head>
  <body>
    <h2>$http Service</h2>

    <div ng-controller="MenuCategoriesController as menu">
      <h4>List of Menu Categories</h4>
      <ul>
        <li ng-repeat="category in menu.categories">
          (<a href="" ng-click="menu.logMenuItems(category.short_name);"
            >{{category.short_name}}</a
          >) {{category.name}}
        </li>
      </ul>

      <div>
        <h3>required menu items</h3>
        <ol>
          <li ng-repeat="item in menu.items.menu_items">
            {{item.name}}
          </li>
        </ol>
      </div>
    </div>
  </body>

  <script src="node_modules/angular"></script>
  <script src="node_modules/angular-route"></script>
  <script src="node_modules/angular-ui-router"></script>
  <script src="node_modules/jquery-ui"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="node_modules/angular-bootstrap"></script>
  <script src="node_modules/angular-smart-table"></script>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</html>
